<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320384259025-b5v3b3fu2j1j4vc8a7j4ec2p8fuijbg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320384259025-b5v3b3fu2j1j4vc8a7j4ec2p8fuijbg6</string>
	<key>API_KEY</key>
	<string>AIzaSyAhhLcHE6fqy6XpmiXuAU-Mwx_ESEjFMTY</string>
	<key>GCM_SENDER_ID</key>
	<string>320384259025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsfnh.QrCode</string>
	<key>PROJECT_ID</key>
	<string>provoqrcode</string>
	<key>STORAGE_BUCKET</key>
	<string>provoqrcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320384259025:ios:3a64f576111e91107406f0</string>
</dict>
</plist>